body{
    color: white;
    background-color: rgb(29, 28, 28);
}

.bg-planets{
    background-color: rgb(49, 49, 49);
}

.divisor {
    width: 50px;
    margin: 10px 96px 10px;
    border: 0;
    border-top: 1px solid #CCC;
}
.rotate{
    -webkit-animation:spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }