body{
    color: white;
    background-color: rgb(29, 28, 28);
}

.bg-planets{
    background-color: rgb(49, 49, 49);
}

.divisor {
    width: 50px;
    margin: 10px 96px 10px;
    border: 0;
    border-top: 1px solid #CCC;
}
